.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
}
.logo {
  width: 150px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  padding: 15px 20px;
  align-items: center;
  align-content: center;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.filter {
  padding: 15px; display: flex; align-items: center;
}
.filter-btn {
  font-size: 16px;
  padding: 5px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 250px;
  min-height: 300px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 8px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.res-card:hover {
  border: 1px solid #333;
}
.res-card-banner {
  width: 100%;
}

.loginButton{ border-radius: 10px; background-color: rgba(0,0,0,.2); display: block; color: #000; padding: 10px 20px; cursor: pointer;}
.loginButton:hover{ background-color: rgba(0,0,0,.6); color: #fff;}